<h2>Demos</h2>
<div class="row">
  <div class="col">
    <ul>
      <li><a [routerLink]="['/demos', 'event-button']" routerLinkActive="router-link-active" >Demo Button</a></li>
      <li><a [routerLink]="['/demos', 'fetch-demo']" routerLinkActive="router-link-active" >Fetch Demo</a></li>
      <li><a [routerLink]="['/demos', 'fetch-demo-async']" routerLinkActive="router-link-active" >Fetch Demo + Async Pipe</a></li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
