<main>
  <h1>Welcome to our application</h1>

  <div>
    <!-- <p>Click here: <app-demo-button (click)="handleClick()" (action)="handleAction()" label="{{'Test me'}}"></app-demo-button> -->
    <p>Click here: <app-demo-button (click)="handleClick()" (action)="handleAction($event)" [label]="'Test me'"></app-demo-button>
    </p>
  </div>

  <p>
    <a routerLink="payees">Payees</a> | <a routerLink="transactions">Transactions</a> | <a routerLink="categories">Categories</a>
  </p>

  <router-outlet></router-outlet>

  <app-footer [company]="'myAwesomeCompany'"></app-footer>
</main>
